.graxsh-posts-container {
    background: $secondaryColorVariant;
    max-width: $xxl;
    padding: 3rem;

    h2 {
        font-size: 49px;
        line-height: 50px;
        margin-bottom: 1.3rem;
    }

    & > h2 {
        margin-bottom: 1.5rem;
        max-width: 60%;
    }

    .graxsh-post-content {
        grid-template-columns: 60% 40%;// minmax(0, 1fr) 1fr;
        gap: 2rem;

        .images-container {
            grid-template-columns: minmax(0, 1fr) 1fr;
            grid-auto-flow: dense;
            gap: .5rem;
            margin: 1rem 0;

            .image-content {
                height: 100%;
            }

            .horizontal {
                grid-row-gap: 0.5rem;
            }
        }

        .message-container {
            margin-top: 15rem;
            justify-content: end;
            max-width: calc(100% - 2rem);

            p {
                margin-bottom: 4rem;
            }

            .reference-container {
                span {
                    display: block;
                    font-size: 17px;
                }
            }
        }
    }
}