/*-------------------------
*  Grid
*--------------------------*/
$columns: 12;
$gutter: 10px;
$spacing: 20;

/*-------------------------
*  Spacing
*--------------------------*/
$paddings: ('pt': 'padding-top', 'pr': 'padding-right', 'pb': 'padding-bottom', 'pl': 'padding-left');
$margins: ('mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');


/*-------------------------
*  Media Queries
*--------------------------*/
$xs: 480px;
$sm: 600px;
$md: 800px;
$lg: 1190px;
$xl: 1440px;
$xxl: 1700px;

$breakpoints: ('xs': $xs, 'sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl);

/*-------------------------
*  Colours
*--------------------------*/
$primary-color: #000000;
$white: #fff;
$black: #000;
$darker-grey: #333333;
$dark-grey: #636363;
$grey: #898989;
$light-grey: #bcbcbc;
$lighter-grey: #f1f1f1;

// COLORS
$blackColor: #000000;
$whiteColor: #fff;
$primaryColor: #B35539;
$primaryColorVariant: #C04F34;
$primaryColorVariantSecond: #ED6363;
$secondaryColor: #DBB580;
$secondaryColorVariant: #EDDEB7;


// custom colours
$colours: ('white': $white, 'black': $black, 'light-grey': $light-grey, 'red': $primaryColorVariantSecond);

/*-------------------------
*  Typography - FONTS
*--------------------------*/
$body-font: 'Josefin Sans', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
$base-font: 'Salermoni-J', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-fs: 18px;

/*-------------------------
*  Animations
*--------------------------*/
$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

$transition-default: all $time $ease;